@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #ECD06F;
  backdrop-filter: blur(2px);
  
  /* --dot-bg: #121212;
  --dot-color: white;
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color); */
}


.flip-card-1 {
  background-color: #121212;
}
.flip-card-2 {
  background-color: rgb(55 0 125 / 10%);
}

.flip-card-1:hover {
  background-color: #121212;
  cursor: pointer;
}
        
.flip-card-2:hover {
          background-color: rgba(118, 14, 253, 0.83);
          cursor: pointer;
}

.center-section {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh; /* Full viewport height */
          
          background: linear-gradient(to bottom, #DA22FF, #9733EE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                    min-height: 100vh;
        }